.calculator{
  width: 80%;
margin: 0 auto;
}
.calculator>input{
text-align: center;
color:blue
}
.calculator-buttons{

  display: grid;
  grid-template-columns: repeat(8,1fr);
grid-auto-columns: 5vh;
column-gap: 2px;
row-gap:2px;
}
.calculator-buttons button{
  background-color: blue;
  color: floralwhite;
  height:35px;
}
.calculator-buttons button:active{
  background-color: red;
  color: floralwhite
}
.calculator-buttons button:hover{
  background-color: yellow;
  color: blue
}
