
#input{
text-align: right;
margin-top: 5px;
margin-bottom: 10px;
height:45px;
color:black;
font-size: 25px;
}
.index-link{
  display: flex;
  flex-flow: row wrap;;
  justify-content: center;
    text-align: center;
    align-items: center;
}
.index-link a{
  background-color:#fff ;
  width: 125px;
  height: 100px;
  margin: 10px;
  border:1px solid #007bff;
}
.calculator #half{
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
  height:45px;
  color:black;
  font-size: 25px;
  background-color: #eacee0;
  border: 1px solid #9835dc66;
  overflow: auto;
}
#deg{
  background-color:#ff16f2;
}
@media all and (min-width:700px) {
  .calculator{
  width: 90%;
  margin: 30px auto;
  }

  .calculator-buttons{
  margin-top: 10px;
  margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
  column-gap: 2px;
  row-gap:2px;
  -ms-grid-template-columns: repeat(8,1fr);
-ms-column-gap: 2px;
-ms-row-gap:2px;
  }
  .calculator-buttons button{
    padding-bottom: 10px;
      border-radius: 10px;
    border: 2px #fffaf0 solid;
    font-size: 22px;
    font-weight: bold;
    background-color: #36a9ee;
    text-align: center;
    color: #fffaf0;
    height:35px;
    margin:1px;
  }
  #equal{
    grid-row: 5 / span 2;
    grid-column-start: 8;
    -ms-grid-row: 5 / span 2;
    -ms-grid-column-start: 8;
    height: 72px;
    background-color: #f811b38c;
    font-size: 35px;
  }
  #plus,#sub,#mult{
      font-size: 25px;
  }

  .calculator-buttons button:hover{
    border-radius: 100px;
  }
  #equal:hover{
    border-radius: 100px;
  }
  #AC{
    background-color: #e73f3f;
  }
  #C{
    background-color: #e73f3f;
  }
  #bs{
    background-color: #ffc107;
  }
  #itf{
    background-color:#fd7e14;
  }
  #sin,#cos,#tan,#cosec,#sec,#cot{
    background-color:#6107ffa1;
  }
  #div,#plus,#sub,#per,#mult{
    background-color:#55ff07;
  }
  #xpowy,#tenpowx,#pipowx,#pi,#epowx,#e,#epow-x,#log10,#log2,#ln,#fact,#sqrt,#reci,#cube,#square{
    background-color:#28a745;
  }
  #lbrac,#rbrac{
    background-color:#20c99794;
  }
  #mod,#rnd{
    background-color: #4edaf0;
  }
  #one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero,#decimal{
      background-color: #36a9ee;
  }
}


@media all and (max-width:700px) {
  .calculator{
  width: 100%;
  margin: 30px auto;
  }
  .calculator-buttons{
margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    -ms-grid-template-columns: repeat(6,1fr);
  column-gap: 1px;
  -ms-column-gap: 1px;
  row-gap:1px;
    -ms-row-gap:1px;
  }
  .calculator-buttons button{
    padding-bottom: 10px;
      border-radius: 10px;
    border: 2px #fffaf0 solid;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fffaf0;
    height:35px;
    margin:1px;
  }
  #one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero,#decimal{
      background-color: #36a9ee;
  }
  #plus,#sub,#mult{
      font-size: 25px;
  }
  .calculator-buttons button:hover{
    border-radius: 100px;
  }
  #equal{
   grid-row: 7 / span 2;
   grid-column:6/7;
   -ms-grid-row: 7 / span 2;
   -ms-grid-column:6/7;
   height: 72px;
   background-color: #f811b38c;
   font-size: 35px;
 }
 #mod{
       background-color: #4edaf0;
 }
 #rnd{
   grid-column: 4/5;
   grid-row: 2/3;
   -ms-grid-column: 4/5;
   -ms-grid-row: 2/3;
   background-color: #4edaf0;
 }
#div{
  grid-column: 6;
  grid-row: 3/4;
  -ms-grid-column: 6;
  -ms-grid-row: 3/4;
    background-color:#55ff07;
}
#sin{
  grid-column: 1/2;
  grid-row: 2/3;
  -ms-grid-column: 1/2;
  -ms-grid-row: 2/3;
   background-color:#6107ffa1;
}
#cos{
  grid-column: 2/3;
  grid-row: 2/3;
  -ms-grid-column: 2/3;
  -ms-grid-row: 2/3;
   background-color:#6107ffa1;
}
#tan{
  grid-column: 3/4;
  grid-row: 2/3;
  -ms-grid-column: 3/4;
  -ms-grid-row: 2/3;
   background-color:#6107ffa1;
}
  #AC{
    grid-column:5/6;
    grid-row: 1/2;
    -ms-grid-column:5/6;
    -ms-grid-row: 1/2;
    background-color: #e73f3f;
  }
  #C{
    background-color: #e73f3f;
    grid-column:6/7;
    grid-row: 1/2;
    -ms-grid-column:6/7;
    -ms-grid-row: 1/2;
  }
  #bs{
    background-color: #ffc107;
    grid-column: 1/2;
    grid-row: 1/2;
    -ms-grid-column: 1/2;
    -ms-grid-row: 1/2;
  }
  #itf{
    grid-column:2/3;
    grid-row: 1/2;
    -ms-grid-column:2/3;
    -ms-grid-row: 1/2;
    background-color:#fd7e14;
  }
  #deg{
    grid-column:3/4;
    grid-row: 1/2;
    -ms-grid-column:3/4;
    -ms-grid-row: 1/2;
  }
  #itf{
    grid-column:2/3;
    grid-row: 1/2;
    -ms-grid-column:2/3;
    -ms-grid-row: 1/2;
  }
  #lbrac{
    grid-column:5/6;
    grid-row: 2/3;
    -ms-grid-column:5/6;
    -ms-grid-row: 2/3;
    background-color:#20c99794;
  }
  #rbrac{
    grid-column:5/6;
    grid-row: 3/4;
    -ms-grid-column:5/6;
    -ms-grid-row: 3/4;
    background-color:#20c99794;
  }
  #per{
    grid-column:6/7;
    grid-row: 2/3;
    -ms-grid-column:6/7;
    -ms-grid-row: 2/3;
    background-color:#55ff07;
  }

  #cosec{
    grid-column: 1/2;
    grid-row: 3/4;
    -ms-grid-column: 1/2;
    -ms-grid-row: 3/4;
    background-color:#6107ffa1;
  }
  #sec{
    grid-column: 2/3;
    grid-row: 3/4;
    -ms-grid-column: 2/3;
    -ms-grid-row: 3/4;
    background-color:#6107ffa1;
  }
  #cot{
    grid-column: 3/4;
    grid-row: 3/4;
    -ms-grid-column: 3/4;
    -ms-grid-row: 3/4;
    background-color:#6107ffa1;
  }

  #one{
    grid-column: 4/5;
    grid-row: 7/8;
    -ms-grid-column: 4/5;
    -ms-grid-row: 7/8;
  }
   #two{
      grid-column: 5/6;
      grid-row: 7/8;
      -ms-grid-column: 5/6;
      -ms-grid-row: 7/8;
    }
  #three{
    grid-column: 4/5;
    grid-row: 6/7;
    -ms-grid-column: 4/5;
    -ms-grid-row: 6/7;
  }
  #four{
    grid-column: 5/6;
    grid-row: 6/7;
    -ms-grid-column: 5/6;
    -ms-grid-row: 6/7;
  }
  #five{
    grid-column: 4/5;
    grid-row: 5/6;
    -ms-grid-column: 4/5;
    -ms-grid-row: 5/6;
  }
   #six{
      grid-column: 5/6;
      grid-row: 5/6;
      -ms-grid-column: 5/6;
      -ms-grid-row: 5/6;
    }
  #seven{
    grid-column: 4/5;
    grid-row: 4/5;
    -ms-grid-column: 4/5;
    -ms-grid-row: 4/5;
  }
  #eight{
    grid-column: 5/6;
    grid-row: 4/5;
    -ms-grid-column: 5/6;
    -ms-grid-row: 4/5;
  }
  #nine{
    grid-column: 4/5;
    grid-row: 3/4;
    -ms-grid-column: 4/5;
    -ms-grid-row: 3/4;
  }
  #mult{
    grid-column: 6/7;
    grid-row: 4/5;
    -ms-grid-column: 6/7;
    -ms-grid-row: 4/5;
    background-color:#55ff07;
  }
  #sub{
    grid-column: 6/7;
    grid-row: 5/6;
    -ms-grid-column: 6/7;
    -ms-grid-row: 5/6;
    background-color:#55ff07;
  }
  #plus{
    grid-column: 6/7;
    grid-row: 6/7;
    -ms-grid-column: 6/7;
    -ms-grid-row: 6/7;
    background-color:#55ff07;
  }

  #fact{
    grid-column: 1/2;
    grid-row: 4/5;
    -ms-grid-column: 1/2;
    -ms-grid-row: 4/5;
    background-color:#28a745;
  }
  #sqrt{
    grid-column: 2/3;
    grid-row: 4/5;
    -ms-grid-column: 2/3;
    -ms-grid-row: 4/5;
      background-color:#28a745;
  }
  #reci{
    grid-column: 3/4;
    grid-row: 4/5;
    -ms-grid-column: 3/4;
    -ms-grid-row: 4/5;
      background-color:#28a745;
  }
  #cube{
    grid-column: 2/3;
    grid-row: 5/6;
    -ms-grid-column: 2/3;
    -ms-grid-row: 5/6;
      background-color:#28a745;
  }
  #square{
    grid-column: 3/4;
    grid-row: 5/6;
    -ms-grid-column: 3/4;
    -ms-grid-row: 5/6;
      background-color:#28a745;
  }
  #ln{
    grid-column: 1/2;
    grid-row: 6/7;
    -ms-grid-column: 1/2;
    -ms-grid-row: 6/7;
      background-color:#28a745;
  }
  #log2{
    grid-column: 2/3;
    grid-row: 6/7;
    -ms-grid-column: 2/3;
    -ms-grid-row: 6/7;
      background-color:#28a745;
  }
  #log10{
    grid-column: 3/4;
    grid-row: 6/7;
    -ms-grid-column: 3/4;
    -ms-grid-row: 6/7;
      background-color:#28a745;
  }
  #epow-x{
    grid-column: 1/2;
    grid-row: 7/8;
    -ms-grid-column: 1/2;
    -ms-grid-row: 7/8;
      background-color:#28a745;
  }

  #e{
    grid-column: 2/3;
    grid-row: 7/8;
    -ms-grid-column: 2/3;
    -ms-grid-row: 7/8;
      background-color:#28a745;
  }
  #epowx{
    grid-column: 3/4;
    grid-row: 7/8;
    -ms-grid-column: 3/4;
    -ms-grid-row: 7/8;
      background-color:#28a745;
  }
  #pi{
    grid-column: 1/2;
    grid-row: 8/9;
    -ms-grid-column: 1/2;
    -ms-grid-row: 8/9;
      background-color:#28a745;
  }
  #pipowx{
    grid-column: 2/3;
    grid-row: 8/9;
    -ms-grid-column: 2/3;
    -ms-grid-row: 8/9;
      background-color:#28a745;
  }
  #tenpowx{
    grid-column: 3/4;
    grid-row: 8/9;
    -ms-grid-column: 3/4;
    -ms-grid-row: 8/9;
      background-color:#28a745;
  }
  #xpowy{
    grid-column: 1/2;
    grid-row: 5/6;
    -ms-grid-column: 1/2;
    -ms-grid-row: 5/6;
      background-color:#28a745;
  }

}
