*{
  box-sizing: border-box;
}

body{
  background: url('../imgs/background.jpg') no-repeat fixed center #5DADE2;
}

.jumbotron{
  background-color:#90D1FC;
  height:20px;
}

.logo{
  color: floralwhite;
  font-size: 20px;
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
  color: red;
}
