@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

*{
  box-sizing: border-box;
}
.github{
  width:10%;
  float: right;
}
:root{
    scroll-behavior: smooth;
}
.policy{
  margin-bottom: 40px;
}
.privacy li{
  list-style-type: disc;
}
.img-thumbnail{
margin-top: 10px;
margin-bottom: 10px;
}
.img-thumbnail:hover{
  transform: scale(1.1);
}
.head{
  font-size: 25px;
  font-weight: bold;
}
p.head{
  margin-top: 20px;
  margin-bottom: 20px;
}
body{
  background-color: #dcf5eb;
  font-size: 18px;
font-family: 'Andika New Basic', 'Noto Sans JP', sans-serif;
}
.card-body#description{
  background-color: #007bff42;
}

::-webkit-scrollbar{
  width:10px;
  background-color: #dcf5eb;

}
.active{
  color:#dc3545 !important;
}
.nav-link{
  font-weight: bold;
}
.nav-link:hover{
  font-weight: bold;
  background-color: #17a2b8 !important;
    color:#fff !important;
}
.nav-link.active:hover{
  font-weight: bold;
  background-color: #17a2b8 !important;
    color:#dc3545 !important;
}
.how-to-calculate{
  margin-top: 30px;
  margin-bottom: 30px;
}
.share-btn{
width: 50px;
height: 50px;
  background-color: #007bff;
  color:#fff;
    border-radius: 5px;
    border: 1px solid #fd7e14;
}
.share-btn#link{
  background-color: #8544fb;
  color:#fff;
  border-radius: 5px;
    border: 1px solid #fd7e14;
}

.support a{
  margin-left: 20px;
  margin-right: 20px;
}
.wrong{
  background-color:#b1a4cd47;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
::-webkit-scrollbar-thumb{
  background-color:#c7ced5;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#007bff;
}
footer{
  background-color: #d3c8e7;
  padding-top: 20px;
  padding-bottom: 15px;
}
a,a:hover{
text-decoration:none;
}
ul{
  list-style-type: none
}
.code-box{
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;

}
.code-box button{
  float:right
}
.alert .btn{
  float:right;
}
.card-body{
  background-color: #88b5e542;
}

.btn-primary,.btn-danger{
  margin-bottom: 10px;
}
.logo{
  width: 80px;
}
.header{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar{
  background-color:#d3c8e7;
  height: 50%;
  margin-bottom:10px;
}
.support{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#f3c848;
padding-top: 50px;
padding-bottom: 50px;
}
#back-to-top{
display:none;
width: 15px;
height: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50% !important;
  z-index: 100;
}
