@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
*,*:focus,*:hover{
    outline:none !important;
}
*{
  box-sizing: border-box;
}
#rowa,#cola,#rowb,#colb{
  text-align: center;
}
#resa input,#resb input{
   margin:2px;
   text-align: center;
}
#a,#b{
  text-align: center;
}
.ftr-head{
  color:#e83e8c;
  font-size: 22px;
}
.mug,.cookies{
  width: 100%;
  height: 100%;
}
#label,#ans{
  text-align: center;
}
.navbar-toggler{
  background-color:#36a9ee;
}
#results{
  background-color: floralwhite;
  padding: 10px;
}
.complex-btn button,.complex-btn-a button,.complex-btn-b button,.matrix-btn button{
  margin: 2px;
}
.comp-a-reset,.matrix-a-reset{
  float: left;
  }
.comp-b-reset,.comp-clear,.matrix-b-reset,.matrix-clear{
float: right;
}
#aset,#bset,#aconfirm,#bconfirm{
  margin:5px;
}
.diff-btn{
  margin: 1vw;
  text-align: center;
  display: none;
}
.github{
  width:10%;
  float: right;
}
#message_bmi{
text-align: center;
text-transform: uppercase;
}
.sitemap a{
line-height: 35px;
}
.alg-btn{
  margin-left: 15px;
  margin-right: 15px;
}
.quad input{
  display: inline;
}
:root{
    scroll-behavior: smooth;
}
.policy{
  margin-bottom: 40px;
}
.privacy li{
  list-style-type: disc;
}
.img-thumbnail{
  margin-left: 25px;
  margin-right: 25px;
margin-top: 10px;
margin-bottom: 10px;
width: 80%;
}
.img-thumbnail:hover{
  transform: scale(1.1);
}
.head{
  font-size: 25px;
  font-weight: bold;
}
p.head{
  margin-top: 20px;
  margin-bottom: 20px;
}
body{
  background-color: #dcf5eb;
  font-size: 18px;
font-family: 'Andika New Basic', 'Noto Sans JP', sans-serif;
}
.card-body#description{
  background-color: #007bff42;
}

::-webkit-scrollbar{
  width:10px;
  background-color: #dcf5eb;
  height: 5px;

}
.active{
  color:#dc3545 !important;
}
.nav-link{
  font-weight: bold;
}
.nav-link:hover{
  font-weight: bold;
  background-color: #17a2b8 !important;
    color:#fff !important;
}
.nav-link.active:hover{
  font-weight: bold;
  background-color: #17a2b8 !important;
    color:#dc3545 !important;
}
.how-to-calculate{
  margin-top: 30px;
  margin-bottom: 30px;
}
.share-btn{
width: 50px;
height: 50px;
  background-color: #007bff;
  color:#fff;
    border-radius: 5px;
    border: 1px solid #fd7e14;
}
.share-btn#link{
  background-color: #8544fb;
  color:#fff;
  border-radius: 5px;
    border: 1px solid #fd7e14;
}

.wrong{
  background-color:#b1a4cd47;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
::-webkit-scrollbar-thumb{
  background-color:#c7ced5;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#744eb7a1;
}
footer{
  background-color: #d3c8e7;
  padding-top: 20px;
  padding-bottom: 15px;
}
a,a:hover{
text-decoration:none;
}
ul{
  list-style-type: none
}
.code-box{
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;

}
.code-box button{
  float:right
}
.alert .btn{
  float:right;
}
.card-body{
  background-color: #88b5e542;
}

.btn-primary,.btn-danger{
  margin-bottom: 10px;
}
.logo{
  width: 80px;
}
.header{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar{
  background-color:#d3c8e7;
  height: 50%;
  margin-bottom:10px;
}
.support{
  margin-top: 20px;
  margin-bottom: 50px;
  background-color:#f3c848;
padding-top: 50px;
padding-bottom: 50px;
}
#back-to-top{
display:none;
width: 15px;
height: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50% !important;
  z-index: 100;
}
